[![GitHub Release]({{ ig_shieldsio_github_release }}{{ "&include_prereleases" if has_latest == false }})]({{ project_github_repo_url }}/releases)
[![GitHub Package Repository]({{ ig_shieldsio_badge_github_package }})]({{ project_github_repo_url }}/packages)
[![Jenkins Build]({{ ig_shieldsio_jenkins_build }})]({{ ig_ci_url }}/job/Docker-Pipeline-Builders/job/{{ project_repo_name }}/job/{{ ig_branch }}/)
{% for var in repo_vars %}
{% if 'CI' in var and 'TRUE' in var.upper() and '_' not in var %}
[![IG CI]({{ ig_shieldsio_dynamic_ci }})]({{ ig_object_url }}/{{ project_name }}/latest-{{ ig_branch }}/index.html)
{% endif %}
{% endfor %}
