## Usage

Example snippets to start creating a container:

### Docker Compose

{% include "README_SNIPPETS/DOCKER_COMPOSE.j2" | trim %}

### Docker CLI ([Click here for more info](https://docs.docker.com/engine/reference/commandline/cli/))

{% include "README_SNIPPETS/DOCKER_CLI.j2" | trim %}
{% if optional_block_1 %}

{% for item in optional_block_1_items %}
{{ item }}
{% endfor %}
{% endif %}
