## Version Tags

This image offers different versions via tags. Be cautious when using unstable or development tags, and read their descriptions carefully.

| Tag | Available | Description |
| :----: | :----: |--- |
| latest | {{ '✅ | ' + development_versions_items[(development_versions_items | map(attribute="tag")) == "latest"].desc if has_latest == true else '❌ |' }} |
{% for item in development_versions_items %}
{% if item.tag != 'latest' %}
| {{ item.tag }} | ✅ | {{ item.desc }} |
{% endif %}
{% endfor %}
